<html>
<head>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/homepage.css"
</head>
<body>
<!--<p>Hello! Welcome to Ad Nauseam.</p>-->
<div style="text-align:center; margin-bottom:10px">
{% autoescape off %}
{{previousAttemptResult}}
{% endautoescape %}
</div>

<div class="container">
    <div class = "content">
    <span class = "question">{{question}}</span><p>
    <form class = "mainForm" method="POST">
        {% csrf_token %}
        <input name="playerAnswer" type="text"/>
    </form>
    </div>
</div>


</body>
</html>