{% extends "baseWithBox.html" %}
    
{% block heading %}{{lesson.title}}{% endblock %}
{% block boxContent %}
    <div id="mainBoxText">{{lesson.content|safe|linebreaks}}</div>
    <div id="buttonHolder">
        {% if next %}
        <span class="rightAlign">
            <a href="{% url webpages.views.showLearningPage %}{{next}}">NEXT</a>
        </span>
        {% else %}
        <span class="rightAlign">
            <a href="{% url webpages.views.play %}">START</a>
        </span>
        {% endif %}
        
        {% if prev %}
        <span class="leftAlign">
            <a href="{% url webpages.views.showLearningPage %}{{prev}}">BACK</a>
        </span>
        {% endif %}
    </div>
{% endblock %}
</html>