<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/lesson.css">
</head>
<body>
<!--    #header should be handled by extending base.html, this is djangoish-->
    <div class="header">
        <span class="headerText">
            {% if user %}
                Salve, {{user.username}}, you have {{user.profile.xp}}XP!
            {% else %}
                Not logged in.
            {% endif %}
        </span>
        <div class ="bottomLine"></div>
        
    </div>
    
    
    <div class="container">
        <div class="box">
            <div class="titlebox"><h1>{{lesson.title}}</h1></div>
            <div class="lessonBox">
                <div class="lessonText">{{lesson.content|safe}}</div>
                <div class="buttonHolder">
                {% if next %}
                <span class="rightAlign">
                    <a href="{% url webpages.views.showLearningPage %}{{next}}">NEXT</a>
                </span>
                {% endif %}
                {% if prev %}
                <span class="leftAlign">
                    <a href="{% url webpages.views.showLearningPage %}{{prev}}">BACK</a>
                </span>
                </div>
                {% endif %}
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</html>